:root {
    --color-green: #14d9c4;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    color: grey;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%),
      0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
      0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0.5rem;
  }
  .logo {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    align-items: center;
    padding: 0rem 2rem;
    gap: 1rem;
    width: 100vw;
  }
  .header .img {
    width: 60px;
  }
  .header .contact {
    font-size: 16px;
    position: absolute;
    right: 40px;
    color: rgba(40, 78, 91, 1);
    text-decoration: none;
  }

  .main{
  }
  .aside {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 25%;
    position: absolute;
    top: 81px;
    left: 0px;
  }
  .aside .menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .menu .title {
    font-size: 18px;
  }
  li {
    list-style: none;
  }
  .menu .item {
    color: grey;
    padding: 10px;
    font-size: 24px;
  }

  .new-form {
    width: 100%;
    height: fit-content;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 0rem 0rem 0.5rem 0.5rem ;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding: 1rem 1.5rem;
  }
  .new-from-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .error-label {
    margin: 0.5rem 0rem;
  }
  .form-button {
    height: 32px;
    width: 80%;
  }
  .new-form .title {
    font-size: 18px;
    padding: 10px;
    margin-top: 20px;
  }
  .new-form .form {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .input {
    margin: 5px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.5px solid rgb(182, 124, 16);
    color: grey;
  }
  .button {
    background-color: rgb(228, 152, 11);
    border: none;
    border-radius: 0.5rem;
    padding: 8px;
    margin: 5px;
    margin-top: 2rem;
    color: white;
  }
  .collapsed {
    display: none;
  }
  .error-label {
    margin-top: 0.8rem;
  }
  .button-cancel {
    background-color: grey;
    border: none;
    border-radius: 0.5rem;
    padding: 8px;
    margin: 5px;
    color: white;
  }

  .about-us {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 45vh;
    justify-content: center;
    width: 100%;
  }
  .about-us .subtitle {
    color: rgba(40, 78, 91, 1);
    font-size: 36px;
  }
  
  .search {
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-around;
    transform: translate(10%, -50%);
    width: 80%;
  }
  .search .title {
    color: rgba(40, 78, 91, 1);
    font-size: 17px;
    font-weight: 600;
  }
  .form-search {
    display: flex;
    justify-content: space-around;
  }
  .input-search {
    height: 32px;
    width: 34%;
  }
  .search-button {
    height: 32px;
    font-size: 18px;
    margin: 0rem 1rem;
    padding: 0rem 2rem;
  }
  .error-search {
    margin-top: 0.8rem;
  }

  .votation-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  .votation-card {
    background-color: white;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    height: fit-content;
    justify-content: space-between;
    padding: 1rem;
    width: 20%;
  }
  .votation-icon {
    display: flex;
    justify-content: right;
  }
  .votation-Title {
    font-size: 16px;
  }
  .votation-items {
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 100%;
  }
  .likeIcon {
    color: rgb(37, 161, 68);
    border: solid 0.1rem rgb(37, 161, 68);
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
  }
  .dislikeIcon {
    color: rgb(228, 111, 15);
    border: solid 0.1rem rgb(228, 111, 15);
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
  }

  .data {
    padding: 20px;
  }
  .book-data {
    display: flex;
    justify-content: space-around;
  }
  .data .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  
  .card {
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    transition: 0.25s all;
    height: 200px;
    width: 300px;
  }
  .card-image{
    width: 40%;
    height: 50%;
    object-fit: cover;
  }
  .card-title {
    font-weight: 600;
    padding: 10px;
  }
  .card-author {
    padding: 10px;
  }
  .card-description {
    padding: 10px;
  }
  
  .footer {
    align-items: center;
    background-color: rgba(40, 78, 91, 1);
    color: white;
    display: flex;
    justify-content: space-between;
    height: 60px;
    position: fixed;
    bottom: 0px;
    padding: 0rem 2.5rem;
    width: 100%;
  }
  .portfolio {
    color: white;
    text-decoration: none;
  }